@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sedgwick+Ave+Display&family=Sriracha&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    padding: 5px 10px;
    background-color: #d8d6d6;
}
.toggle , .slide ,#checkbox{
    display: none;
    visibility: none;
}
.name{
    display: flex;
}
.name img{
    width: 40px;
    height: 40px;
}
.name h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    padding: 8px 8px ;
    color: #11172e;
    transition: 0.7s ease;
}
.name h2:hover{
    color: #9a5300;
    cursor: pointer;
}
.nav{
    padding: 15px 10px;
} 
.nav a{
    text-decoration: none;
    margin: 0px 20px;
    background-color: #11172e;
    color: #d8d6d6;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.7s ease;
    font-size: 1.2em;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;

}
.nav a:hover{
    background-color: #9a5300;
    color: #11172e;
}
.s1{
    background: url(profile.png);
    background-size: cover;
    background-position: center;
    width: auto;
    height:40em;
}
.s1 h2{
    display: flex;
    justify-content: left;
    padding-top:100px;
    padding-left:100px ;
    font-size: 3em;
    color: #d8d6d6;
    font-family: 'Pacifico', cursive;
}
.s1 span{
    color: #9a5300;
}
.s1 p{
    padding-top:10px;
    padding-left:90px ;
    color: #d8d6d6;
    font-size: 1.4em;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
}
.contact{
    padding-left:90px;
    padding-top: 15px;
}
.contact a{
    padding: 0px 20px;
    font-size: 2em;
    text-decoration: none;
    color: #d8d6d6;
    transition: 0.7s ease;
}
.contact a:hover{
    color: #9a5300;

}
.s2{
    background-color: #d8d6d6;
}
.s2 h2{
    display: flex;
    justify-content: center;
    padding-top:30px ;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    color: #11172e;
}
.s2 .Designs{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:15px 50px;
}
.Designs img{
    width: 30%;
    height: 20em;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #11172e;
    transition: 0.7s ease;
    margin-right: 30px;
    margin-bottom: 50px;
}
.Designs a{
    padding: 4em 3.5em;
    background-color: #d8d6d6;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #11172e;
    text-decoration: none;
    font-size: 2em;
    color: #11172e;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    margin-bottom: 50px;
    transition: 0.7s ease;
    overflow: hidden;
}
.Designs a:hover{
    transform: scale(1.1);
    opacity: 0.9;
    color:#9a5300 ;
}

.Designs img:hover{
    transform: scale(1.1);
    opacity: 0.9;
}
.s3{
    background-color: #11172e;
}
.s3 h2{
    display: flex;
    justify-content: center;
    color: #d8d6d6;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    padding-top: 30px;

}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap ;
}
.c{
    background-color: #d8d6d6;
    margin: 20px 25px;
    width: 40%;
    min-height: 50px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #d8d6d6;
    border:1px #d8d6d6;
}
.pic img{
    width: 100%;
    height: 350px;
}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info p{
    color: #11172e;
    font-size: 1.4em;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
}
.info a{
    background-color: #11172e;
    color: #d8d6d6;
    text-decoration: none;
    padding: 15px 35px;
    margin: 20px 0px;
    font-size: 1.2em;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    border-radius: 25px;
    transition: 0.7s ease;
}
.info a:hover{
    background-color: #7d0606;
}
.s4{
    background-color: #d8d6d6;
}
.s4 h2{
    display: flex;
    justify-content: center;
    color: #11172e;
    font-size: 2.5em;
    font-family: 'Bebas Neue', cursive;
    padding-top: 30px;
    padding-bottom: 20px;
}
.f{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.d1{
    margin-left: 40px;
    background-color: #11172e;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    border-radius:20px ;
    margin-bottom: 10px;
    width: 30%;
    box-shadow: 1px 1px 10px #11172e;

}
.d1 ul{
    list-style: none;
    padding-left: 20px;
}
.d1 img{
    width: 180px;
    height: 180px;
    margin: 30px 10px;
}
.d1 h3{
    font-size: 1.4em;
    font-family: 'Bebas Neue', cursive;
    color: #d8d6d6;
    margin-bottom: 10px;
    padding: 5px 5px;
    border-radius: 10px;
}
.d1 span{
    color: #9a5300;
    margin: 5px 5px;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    font-size: 0.9em;
    font-weight: bold;


}
.d1 i{
    font-size: 1em;
    padding-right: 10px;
}
.d2{
    background-color: #11172e;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    border-radius:20px ;
    margin-bottom: 20px;
    width: 30%;
    box-shadow: 1px 1px 10px #11172e;
}
.d2 h3{
    margin: 15px 0px;
    font-size: 1.5em;
    color: #d8d6d6;
    font-family: 'Bebas Neue', cursive;
}
.d2 i{
    font-size: 1em;
    padding-right: 10px;
}
.d2 ul{
    list-style: none;
    font-size: 1.3em;
    color: #9a5300;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    margin-bottom: 20px;
}
.d2 span{
    background-color: #d8d6d6;
    border-radius: 20px;
    display: flex;
    
}
.d2 h5{
    background-color: #9a5300;
    font-size: 0.8em;
    color: #d8d6d6;
    padding: 1px 70px;
    border-radius: 20px;
}
.d2  .r {
    font-size: 0.8em;
    color: #9a5300;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0px 10px;
}
.d2  td {
    font-size: 1.4em;
    color: #9a5300;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0px 10px;
}
.d2 .lang td {
    font-size: 3em;
    color: #9a5300;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0px 50px;
}
.d3{
    background-color: #11172e;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    border-radius:20px ;
    margin-bottom: 10px;
    width: 30%;
    margin-right: 40px;
}
.d3 h3{
    margin: 15px 0px;
    font-size: 1.3em;
    color: #d8d6d6;
    font-family: 'Bebas Neue', cursive;
}
.d3 i{
    font-size: 1em;
    padding-right: 10px;
    box-shadow: 1px 1px 10px #11172e;
}
.d3 table{
    font-size: 1.3em;
    color: #9a5300;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: bold;

}
.d3 td{
    padding: 5px 10px;
}
.d3 p{
    font-size: 1em;
    color: #9a5300;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    margin: 5px 15px;
}
.d3 span{
    font-size: 1em;
    color: #d8d6d6;
    font-family: 'Arimo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    margin: 5px 10px;
    line-height: 30px;
}

.up{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3em;
    color: #9a5300;
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 999;
    padding: 5px 10px;
    background-color: #11172e;
    color: #d8d6d6;
    font-size: 1.2em;
    font-family: 'Pacifico', cursive;
}

@media (max-width:1081px){
    header{
        padding: 1px 15px;
    }
    .toggle{
        display: flex;
    }
    .slide{
        display: block;
        justify-content: left;
        background: #11172e;
        width: 250px;
        height: fit-content;
        position: absolute;
        transition: 0.5s ease-in-out;
        overflow: hidden;
    
        transform: translateX(-250px);
    }

    .slide h1{
        font-size: 2em;
        color: #9a5300;
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        text-align: center;
        margin: 10px 0px;
    }
    .slide span{
        display: block;
        width: 100%;
        height: 2px;
        margin-bottom: 10px;
        background: #9a5300;
    }
    #checkbox{
        display: none;
        visibility: hidden;
    }
    ul li{
        list-style: none;
    }
    ul li a{
        display: block;
        text-decoration: none;
        color: #F4F0E8;
        font-family: 'Arimo', sans-serif;
        font-size: 1.1em;
        padding: 15px ;
        transition: 0.7s ease-in-out;
    }
    ul li a:hover{
    
        background-color: #9a5300;
    }
    ul li a i{
        margin-right: 10px;
        position: relative;
    }
    
    .toggle{
        position: relative;
        height: 40px;
        width: 40px;
        z-index:1;
        cursor: pointer;
        margin-left: 15px;
    }
    .toggle .common{
        background-color: #11172e;
        position: absolute;
        width: 20px;
        height: 3px;
        border-radius: 20px;
        transition: 0.3s ease;
    }
    .toggle h1{
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5em;
        color: #11172e;
        margin-top: 5px;
        margin-left: 30px;
    }
    .toggle .line-top{
        top: 20%;
        transform: translate(-50%-50%);
    }
    .toggle .line-middle{
        top: 40%;
        width: 10px;
        transform: translate(-50%-50%);
    }
    .toggle .line-bottom{
        top: 60%;
        transform: translate(-50%-50%);
    }
    #checkbox:checked ~ .slide{
        transform: translateX(0);
        box-shadow: 5px 0px 10px #333;
    }
    .name img{
        width: 35px;
        height: 35px;
        margin: 5px 0px;
    }
    .name h2{
        margin-top: 5px;
        font-size: 1em;
    }
    .nav {
        display: none;
    }
    .s1{
        background: none;
        background-color: #11172e;
        width: 100%;
        height:30em;
    }
    .s1 h2{
        padding-top:50px;
        padding-left:50px ;
        font-size: 2.2em;;
    }
    .s1 p{
        padding-top:20px;
        padding-left:50px ;
        padding-bottom: 20px;
        font-size: 1em;
    }
    .contact{
        padding-left:40px;
        padding-top: 10px;
    }
    .contact a{
        padding: 0px 15px;
        font-size: 1.5em;
    }
    .s2 .Designs{
        display: flex;
        align-items: center;
        flex-direction:column;
        padding:10px 10px;
    }
    .Designs img{
        width: 60%;
    }
    .Designs a{
        font-size: 1.2em;
    }
    .cards{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .c{
        margin: 15px 20px;
        width: 60%;
    }
    .pic img{
        height: 250px;
    }
    .info p{
        color: #11172e;
        font-size: 1.2em;
        font-family: 'Pacifico', cursive;
    }
    .info a{
        padding: 5px 20px;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 1.2em;

    }
    .c0 .v{
        display: flex;
        justify-content: center;
        font-size: 1.4em;
        padding: 2em 3em;
    }
    .f{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .d1{
        margin-right: 30px;
        width: 70%;   
    }
    .d2{
        width: 70%;
    }
    .d3{
        width: 70%;
        margin-left: 35px;
    }

}
    

